:root {
  --white: #fff;
  --black: #161616;
  --grey: #6b6b6b;
  --midgrey: #535353;
  --darkergrey: #424242;
  --background: #282828;
  --pink: #EDACCD;
  --rose: #BD84A1;
  --blue: #578B9E;
}

body {
  font-family: 'Urbanist', sans-serif;
  background-color: var(--background);
  color: var(--white);
}

h1 {
  text-transform: uppercase;
  color: var(--blue);
  letter-spacing: 2px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--white);
  border-left: solid 1px var(--black);
  padding: 10px;
  width: 100%;
  height: 100%;
  top: 0;
}

button {
  border: none;
  border-radius: 100%;
  background-color: var(--pink);
  color: var(--white);
  padding: 0;
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

button:hover {
  background-color: var(--rose);
}

button:active {
  box-shadow: 0px 0px 5px var(--black);
}

.container {
  border: solid 1px var(--black);
  border-bottom: none;
}

.row {
  border-bottom: solid 1px var(--black);
}

.date {
  text-align: center;
  padding-top: 30px;
  background: linear-gradient(to left top, var(--pink), var(--blue));
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  padding-bottom: 5px;
}

.time-block {
  text-align: center;
  padding: 0;
  scrollbar-width: thin;
}

.row {
  height: 80px;
  border-top: 1px solid var(--black);
}

.hour {
  background-color: var(--darkergrey);
  color: var(--pink);
  text-align: center;
  padding: 10px;
  padding-top: 30px;
  font-weight: 800;
}

.past {
  background-color: var(--midgrey);
}

.present {
  background-color: var(--blue)
}

.future {
  background-color: var(--grey);
}

.saveBtn {
  padding: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
      width: 95%;
      max-width: none;
  }
}

@media (max-width: 575px) {
  .col-xs-2 {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
  }

  .col-xs-8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
  }

  h1  {
    padding-top: 20px;
  }

  header .lead,
  footer {
    font-size: 14px;
  }
}